/* filter.js:n tyyliasetukset */

.filters {
    margin: auto;
    display: flex;
    gap: 12px;
    align-items: center;
}

.filter-button {
    padding: 2px 12px;
    cursor: pointer;
    color: white;
    background-color: rgba(255, 255, 255, 0.15);
    font-weight: bold;
    border-radius: 6px;
    border: 4px solid transparent;
}

.filter-button.active {
    background-color: #fff;
    color: #333;
}

.filters {
    margin-bottom: 10px;
    grid-column: 1 / -1;
    width: 100%;
}

@media screen and (min-width: 768px) {
    .project-wrapper {
        display: contents;
    }
}

/* Muuta filtterinappuloiden sijaintia pienemmillä leveyksillä mobiililaitteilla sopivammaksi */

@media screen and (max-width: 518px) {
    .filters {
      flex-wrap: wrap;
      justify-content: center;
    }
    
    .filters p {
      width: 100%;
      text-align: center;
      margin-bottom: 10px;
    }
    
    .filter-button, #filter-reset {
      margin-bottom: 8px;
    }
  }

.filters div:hover {
    opacity: 0.8;
}

#filter-reset {
    padding: 8px 12px;
    font-weight: bold;
    cursor: pointer;
}

.project-wrapper {
    width: 100%;
    gap: 8px;
}

.project p {
    margin: 0;
}