/* Hei näin kommentoit css:sää */
/* Laita tänne omat tyylittelyt :D */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');


body {
  background-color: #315C71;
  font-family: Inter;
  font-size: 16px;
  color: #9EF5CF;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  max-width: 300px;
}

a:hover {
  color: white;
  background-color: black;
  cursor: pointer;
}

a {
  color: black;
  background-color: white;
  padding: 8px 16px;  /* Add padding */
  text-decoration: none;  /* Remove underline */
  transition: all 0.3s ease;  /* Smooth transition */
  display: inline-block;  /* Helps with padding */
  border-radius: 4px;  /* Optional: rounded corners */
}

h1 {
  font-size: 36px;
  text-align: center;
}

h2 {
  font-size: 32px;
  text-align: center;
}

.laatikko {
  width: 100px;
  height: 100px;
  background-color: #ff0000;
  rotate: 45deg;
}

.pallo {
  width: 100px;
  height: 100px;
  background-color: #0000ff;
  border-radius: 50%;
}

.kolmio {
  width: 0;
  height: 0;
  border-style: solid;
  /* magic 🪄 */
  border-width: 0 66px 100px 66px;
  border-color: transparent transparent #00ff00 transparent;
}

#blackbox {
  background-color: black;
}
